<html>
    <body>
        <% include('partials/header.ejs') %>
        <h1>Lista de turnos</h1>
        <ul>
            <% for (let i = 0; i < users.length; i++) { %>
                <li>
                    <%= users[i].name %>
                </li>
            <% } %>
        </ul>
    </body>
</html>