<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <header> 
      <section>
        <h1><%= title %></h1>
      <p>¡Bienvenide a la vista de turnos!<%= title %></p>
        
        <div class="shift-list">
          <p>los últimos 3 turnos solicitados son:</p>
          <ul>
            <li class="big-text">A56 - Caja 3</li>
            <li class="big-text">A57 - Caja 2</li>
            <li class="big-text">A58 - Caja 2</li>
          </ul>
        </div>
      </section>
      
    </header>
   
  </body>

  <footer>
    <h2>
      Visita nuestros centros y sucursales vía digital
    </h2>
  </footer>
</html>
