<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <header> 
      <section>
        <h1><%= title %></h1>
        <p>Bienvenide al listado de turnos!<%= title %></p>
        <button>Generar nuevo turno</button>
        <button>Llama al próximo en la espera</button>
  
      </section>
      
    </header>
   
  </body>

  <footer>
    <h2>
      Visita nuestros centros y sucursales vía digital
    </h2>
  </footer>
</html>
