body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
  color: lightseagreen;
  font-size: medium;

}

.shift-list{
  display: flex;
  padding: 10 px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
    font-weight:bold;
    font-size:3rem;
    line-height:1;
    margin: 0 2 rem;
}


