*{
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;

}

.login-body{
  flex-wrap: wrap;
  background-color: #185a9d;

}

.footer{
  flex-wrap: wrap;
}

a {
  color: #00B7FF;
}

h2 {
  color: lightseagreen;
  font-size: medium;

}
.shift-container{
  background-color: azure;
  border-radius:10px;
  box-shadow: 0 0 10px 5px black;
  width:400px;
  max-width: 100% ;
}

.shift-list{
  padding: 10 px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
    font-weight:bold;
    font-size:3rem;
    line-height:1;
    margin: 0 2 rem;
}

ul {
  list-style: none;
  padding:0;

}


@media (min-width: 361px){
  body main{
      display: block;
  }

  body section {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  body{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
  }
  
  

}

@media (min-width: 769px){
  body{
      width: 82%;
  }
}

@media(min-width: 1214px){
  body{
    width:80%;
  }
}
